@import "global";

main::after {
  clear: both;
  display: table;
  content: "";
}
#slide {
  float: left;
  img {
      transition: opacity linear 2s;
    width: 431.62px;
    position: absolute;
    height: 287.75px;
  }
}
article {
  img {
    float: left;
    width: 431.62px;
    height: 287.75px;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 0;
  }
  width: 100%;
  font-size: small;
  color: black;
  float: right;
}
h1 {
  font-size: 1.8rem;
}
#news {
  background-color: #eeeeee;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
  h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  p {
    margin: 0;
    margin-top: 5px;
    font-size: small;
    color: black;
    line-height: 18px;
  }
}
@media screen and (max-width: 500px){
    #news{
        h2{
            font-size: x-large;
        }
        p{
            font-size: large;
        }
    }
    article{
        font-size: large;
    }
}