body {
  margin: 0;
  background-image: url(../img/background_top.png);
  background-repeat: repeat-x;
  background-color: #e4e4e4;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: #d3d3d3 0 0 5px;
          box-shadow: #d3d3d3 0 0 5px;
}

.inner_wrapper {
  padding: 0 25px 5px;
  margin: 0 0 10px;
}

.inner_wrapper:first-child {
  -webkit-box-shadow: 0 50px 40px -30px #e6e6e6;
          box-shadow: 0 50px 40px -30px #e6e6e6;
}

.inner_wrapper:last-child {
  padding-bottom: 50px;
}

.logo {
  height: 238px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/background_rabbit.jpg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.logo figcaption {
  font-weight: bolder;
  font-size: x-large;
  margin-left: 20px;
}

nav ul {
  background-color: #c8c8c8;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 10px;
  margin: 10px 0;
  height: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  height: 30px;
}

nav ul li .active {
  color: #333333;
  background-color: #d3d3d3;
}

nav ul li a:hover {
  color: #333333;
  background-color: #d3d3d3;
}

nav ul a {
  width: 100%;
  padding: 6px 10px;
  line-height: 30px;
  font-size: small;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}

ol {
  list-style: none;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #aaaaaa;
}

ol a {
  color: #aaaaaa;
  text-decoration: none;
}

ol a:hover {
  text-decoration: underline;
}

.opacityZero {
  opacity: 0;
}

@media screen and (max-width: 500px) {
  .logo figcaption {
    font-size: xx-large;
  }
  nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 120px;
  }
  nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 175px;
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul a {
    font-size: x-large;
  }
  ol {
    font-size: large;
  }
}

main::after {
  clear: both;
  display: table;
  content: "";
}

#slide {
  float: left;
}

#slide img {
  -webkit-transition: opacity linear 2s;
  transition: opacity linear 2s;
  width: 431.62px;
  position: absolute;
  height: 287.75px;
}

article {
  width: 100%;
  font-size: small;
  color: black;
  float: right;
}

article img {
  float: left;
  width: 431.62px;
  height: 287.75px;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0;
}

h1 {
  font-size: 1.8rem;
}

#news {
  background-color: #eeeeee;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
}

#news h2 {
  margin: 0;
  font-size: 1.2rem;
}

#news p {
  margin: 0;
  margin-top: 5px;
  font-size: small;
  color: black;
  line-height: 22px;
}

@media screen and (max-width: 500px) {
  #news h2 {
    font-size: x-large;
  }
  #news p {
    font-size: large;
  }
  article {
    font-size: large;
  }
}
/*# sourceMappingURL=forside.css.map */