@import "global";

main::after {
  clear: both;
  display: table;
  content: "";
}
h1 {
  font-size: 1.8rem;
}
#news {
  background-color: #eeeeee;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
  h2 {
    margin: 0;
    font-size: 1.2rem;
  }
  p {
    margin: 0;
    margin-top: 5px;
    font-size: small;
    color: black;
    line-height: 22px;
  }
}
#slide {
  position: relative;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 431.62px;
  height: 287.75px;
  img {
    transition: opacity linear 2s;
    position: absolute;
    width: 431.62px;
    height: 287.75px;
  }
}
article {
  width: 100%;
  font-size: small;
  color: black;
  float: right;
}
@media screen and (max-width: 740px) {
  h1{
    font-size: large;
  }
  #news {
    h2 {
      font-size: medium;
    }
    p {
      font-size: small;
    }
  }
  #slide {
    width: 50vw;
    height: 34vw;
    img {
      width: 100%;
      height: auto;
    }
  }
  article {
    font-size: small;
    img {
      width: 100%;
    }
  }
}
